# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Dataset - not to be uploaded
dataset.csv

# Local configuration files
config.py

# Environment files
.env
.venv
env/
venv/

# Python virtual environments
*.virtualenv

# Spyder project settings
.spyderproject
.spyproject

# VSCode settings
.vscode/

# PyCharm settings (if used)
.idea/

# MacOS system files
.DS_Store
